.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 1366px;
    margin: 0 auto;

    background-image: url("../images/background/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

                                /*header*/

.header{
    width: 1022px;
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 61px;
    text-decoration: none;
    color: #FFFFFF;
    background-image: url("../images/logo/logo.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    transition: 300ms ease-in-out;
}

.header__logo:hover{
    background-image: url("../images/logo/logo_orange.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: #F26522;
}

.header__title-text{
    text-transform: uppercase;
    font-weight: 700;
}

.logo__title-text:nth-of-type(1){
    font-size: 29px;
    line-height: 29px;
}

.header__contacts-link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    text-align: right;
    transition: 300ms ease-in-out;
}

.header__contacts-link:last-of-type{
    padding-top: 19px;
}

.header__contacts-link:hover{
    color: #F26522;
}

                            /*main*/

.main__wrapper{
    width: 1022px;
    padding-top: 22px;
    display: grid;
    grid-template: repeat(2,1fr)/repeat(3,1fr);
    column-gap: 61px;
    row-gap: 37px;
}

.main__item-title{
    padding-top: 20px;
    text-align: center;
    transition: 300ms ease-in-out;
}

.main__item:hover .main__item-title{
    color: #F26522;
}

.main__item:hover .main__item-details{
    transform: translateY(-59px);
}

.main__image-wrapper{
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, #000000 0%, #ffffff 100%);
    border-image-slice: 1;
}

.main__item-image{
    display: block;
}

.main__item-details{
    position: absolute;
    width: 100%;
    top: 100%;
    background: #F26522;
    color: white;
    transition: 500ms ease-in-out;
}

.details__item-from{
    display: block;
    padding: 7px 0 0 14px;
    font-size: 10px;
}

.details__item-price{
    display: flex;
    justify-content: space-between;
    padding: 6px 14px 10px 16px;
}

.details__item-text:first-of-type{
    font-size: 20px;
}

.details__item-text:last-of-type{
    font-size: 14px;
}

.details__item-text:last-of-type::after{
    content: url("../images/icons/vector.png");
    padding-left: 16px;
    cursor: pointer;
}

                                /*footer*/

.footer {
    padding: 49px 0 15px;
    text-align: center;
}

.footer__text{
    font-size: 12px;
    line-height: 21px;
}